// Normalize
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Base styles
html {
  position: relative;
  min-height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  width: 100%;
  font-family: $font-family;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  // toRem() is a sass functio created to convert pixel sizes to rem sizes
  // so toRem(740) is converting 740px to a rem size (or root element font-size, here 16px)
  // see line 7 in _functions.scss
  min-height: toRem(740);
  width: 80vw;
  // push-auto mixin which sets margin-left and margin-right to auto,
  // this centers an element on page that has a max-width
  @include push--auto;
}

#mouseFollow {
  position: fixed;
  left: toRem(-50);
  top: toRem(-50);
  padding: toRem(25);
  border-radius: 50%;
  background: $color-3;
  opacity: 0.4;
  z-index: 99;
}

// Base section slide up animation
.heading,
.skills,
.social {
  animation-name: slideUp;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.heading {
  animation-delay: 0.6s;
}
.skills {
  animation-delay: 1s;
}
.social {
  animation-delay: 1.5s;
}

// opacity and transfom animation
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
