*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
  font-family: $font-family;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 680px;
  width: 80vw;
  @include push--auto;
}

.heading {
  animation-name: slideUp;
  animation-duration: 0.8s;
  animation-delay: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.skills {
  animation-name: slideUp;
  animation-duration: 0.8s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.social {
  animation-name: slideUp;
  animation-duration: 0.8s;
  animation-delay: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
