/* COLOR VARIABLES*/
// Base colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$light-gray: hsl(0, 0%, 93%);
$gray: hsl(0, 0%, 71%);

// Font color
$font-color: hsl(0, 0%, 11%);

// Main colors
$color-1: hsl(21, 67%, 59%);
$color-2: hsl(198, 48%, 46%);
$color-3: hsl(173, 27%, 74%);
$color-4: hsl(41, 67%, 57%);
$color-5: hsl(185, 15%, 55%);
$color-6: hsl(1, 53%, 78%);

// Social colors
$color-github: hsl(0, 5%, 9%);
$color-instagram: hsl(349, 75%, 57%);
$color-linkedin: hsl(201, 100%, 35%);
$color-codepen: hsl(0, 0%, 0%);

/* FONT VARIABLES */
// Base fonts
$font-family: "Kanit", sans-serif;
$html-font-size: 100%;

// Icon Fonts
$icomoon-font-family: "tc-icons" !default;
$icomoon-font-path: "../assets/icon-font" !default;
$tc-icons-github: "\e900";
$tc-icons-codepen: "\e901";
$tc-icons-instagram: "\e902";
$tc-icons-linkedin: "\e903";

// Font sizes
$p: 16;
$p--small: 12;
$p--medium: 18;
$p--large: 24;

// Font weight
$w--light: 300;
$w--normal: 400;
$w--semibold: 600;
$w--bold: 700;
$w--heavy: 800;

/* OTHER VARIABLES */

// Box Shadow
$box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

// Animations
$animate--cubic: animate 2.6s cubic-bezier(1, 0, 0.5, 1) forwards;
$animate--word-color: color-animation 6s linear infinite;
