/***************** COLOR VARIABLES *****************/
/***************** FONT VARIABLES *****************/
/***************** OTHER VARIABLES *****************/
/*********************** strip unit from number ***********************/
/*********************** Calculate rem sizes ***********************/
/*********************** Calculate clamp ***********************/
/*********************** Margin auto mixin ***********************/
/*********************** Pseudo element mixin ***********************/
/*********************** Bubble style mixin ***********************/
/* 
  Usage: (set "false" if style should not be used)
  @include bubbleVariables($position, $size, $delay, $duration, $color);
*/
/*********************** Font Mixin ***********************/
/* 
  Usage: (set "false" if style should not be used)
  @include font-source($size, $colour, $weight, $lh);
*/
/*********************** Fluid text ***********************/
/* 
    Usage:
    @include pixelsToFluidText(24px, 38px, 60px);
*/
/*********************** Fluid gutters ***********************/
/* 
    Usage:
    @include responsive-gutter-1x(bottom);
*/
/* 
    Usage:
    @include responsive-gutter-2x(bottom);
*/
/*********************** Triangle pseudo element mixin ***********************/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  width: 100%;
  font-family: "Kanit", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 46.25rem;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

#mouseFollow {
  position: fixed;
  left: -3.125rem;
  top: -3.125rem;
  padding: 1.5625rem;
  border-radius: 50%;
  background: #abcfca;
  opacity: 0.4;
  z-index: 99;
}

.heading,
.skills,
.social {
  animation-name: slideUp;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.heading {
  animation-delay: 0.6s;
}

.skills {
  animation-delay: 1s;
}

.social {
  animation-delay: 1.5s;
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
h1,
h2,
h3,
h4 {
  font-size: 100%;
}

.h1,
.h2,
.h3,
.h4 {
  margin-top: 40;
  margin-top: clamp(
    1.25rem,
    3.0612244898vw,
    2.5rem
  );
  margin-bottom: 40;
  margin-bottom: clamp(
    1.25rem,
    3.0612244898vw,
    2.5rem
  );
  font-family: "Kanit", sans-serif;
  color: #333;
  font-weight: 700;
  line-height: 1.5;
}
.h1:first-child,
.h2:first-child,
.h3:first-child,
.h4:first-child {
  margin-top: 0;
}

.h1 {
  /* Fallback for IE11 */
  font-size: 4rem;
  font-size: clamp(
    2.875rem,
    6.5306122449vw,
    4.75rem
  );
}

.h2 {
  /* Fallback for IE11 */
  font-size: 3.375rem;
  font-size: clamp(
    2.25rem,
    5.5102040816vw,
    4rem
  );
}

.h3 {
  /* Fallback for IE11 */
  font-size: 2.625rem;
  font-size: clamp(
    1.875rem,
    4.2857142857vw,
    3.375rem
  );
}

.h4 {
  /* Fallback for IE11 */
  font-size: 2rem;
  font-size: clamp(
    1.5rem,
    3.2653061224vw,
    2.625rem
  );
}

p {
  /* Fallback for IE11 */
  font-size: 1rem;
  font-size: clamp(
    0.875rem,
    1.6326530612vw,
    1.125rem
  );
}

a {
  text-decoration: none;
  color: #1c1c1c;
  font-weight: 600;
}

ol,
ul {
  list-style: none;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

@font-face {
  font-family: "tc-icons";
  src: url("../assets/icon-font/tc-icons.eot?3k3r20");
  src: url("../assets/icon-font/tc-icons.eot?3k3r20#iefix") format("embedded-opentype"), url("../assets/icon-font/tc-icons.ttf?3k3r20") format("truetype"), url("../assets/icon-font/tc-icons.woff?3k3r20") format("woff"), url("../assets/icon-font/tc-icons.svg?3k3r20#tc-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "tc-icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tc-icons-github:before {
  content: "\e900";
}

.tc-icons-codepen:before {
  content: "\e901";
}

.tc-icons-instagram:before {
  content: "\e902";
}

.tc-icons-linkedin:before {
  content: "\e903";
}

.title span {
  animation: color-animation 6s linear infinite;
}
.title span:nth-child(1n) {
  --color-1: #dc8150;
  --color-2: #3d8cae;
  --color-3: #e5aaa9;
}
.title span:nth-child(2n) {
  --color-1: #dbac48;
  --color-2: #abcfca;
  --color-3: #7b9b9d;
}
.title span:nth-child(3n) {
  --color-1: #7b9b9d;
  --color-2: #e5aaa9;
  --color-3: #abcfca;
}
.title span:nth-child(4n) {
  --color-1: #3d8cae;
  --color-2: #dc8150;
  --color-3: #dbac48;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}
.skills {
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.skills-bar {
  padding: 1.5625rem 1.875rem;
}
.skills-bar .bar {
  margin: 1.5625rem 0rem;
}
.skills-bar .bar .info {
  margin-bottom: 0.5rem;
  color: #1c1c1c;
}
.skills-bar .progress-line {
  position: relative;
  height: 0.75rem;
  width: 100%;
  background: #ededed;
  border-radius: 0.75rem;
}
.skills-bar .progress-line span {
  position: absolute;
  height: 100%;
  border-radius: 0.75rem;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 2.6s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.skills-bar .progress-line span::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 3px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #dc8150;
  margin-left: -6px;
  top: 0.8125rem;
  right: 0;
}
.skills-bar .progress-line span::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 1.125rem;
  color: white;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.0625rem 0.5rem;
  border-radius: 0.25rem;
}
.skills-bar .progress-line span.html {
  width: 95%;
  background: #dc8150;
}
.skills-bar .progress-line span.html::before {
  border-right-color: #dc8150;
}
.skills-bar .progress-line span.html::after {
  content: "95%";
  background: #dc8150;
}
.skills-bar .progress-line span.css {
  width: 85%;
  background: #3d8cae;
}
.skills-bar .progress-line span.css::before {
  border-right-color: #3d8cae;
}
.skills-bar .progress-line span.css::after {
  content: "85%";
  background: #3d8cae;
}
.skills-bar .progress-line span.sass {
  width: 55%;
  background: #abcfca;
}
.skills-bar .progress-line span.sass::before {
  border-right-color: #abcfca;
}
.skills-bar .progress-line span.sass::after {
  content: "55%";
  background: #abcfca;
}
.skills-bar .progress-line span.bootstrap {
  width: 70%;
  background: #dbac48;
}
.skills-bar .progress-line span.bootstrap::before {
  border-right-color: #dbac48;
}
.skills-bar .progress-line span.bootstrap::after {
  content: "70%";
  background: #dbac48;
}
.skills-bar .progress-line span.javascript {
  width: 60%;
  background: #7b9b9d;
}
.skills-bar .progress-line span.javascript::before {
  border-right-color: #7b9b9d;
}
.skills-bar .progress-line span.javascript::after {
  content: "60%";
  background: #7b9b9d;
}
.skills-bar .progress-line span.react {
  width: 35%;
  background: #e5aaa9;
}
.skills-bar .progress-line span.react::before {
  border-right-color: #e5aaa9;
}
.skills-bar .progress-line span.react::after {
  content: "35%";
  background: #e5aaa9;
}

@-webkit-keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.social {
  display: flex;
  margin-top: 1.875rem;
  justify-content: space-evenly;
}
.social__link {
  list-style: none;
  margin: 0;
  width: 3.75rem;
  height: 3.75rem;
}
.social__link a {
  position: relative;
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.social__link:hover a {
  color: white;
  transform: translate(0, -10%);
}
.social__link i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.875rem;
}
.social__link.github:hover a {
  background-color: #181616;
}
.social__link.instagram:hover a {
  background-color: #e43f5d;
}
.social__link.linkedin:hover a {
  background-color: #0074b3;
}
.social__link.codepen:hover a {
  background-color: black;
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: white;
}
.bg-bubbles li {
  display: block;
  position: absolute;
  bottom: -10rem;
  background-color: #dbebe9;
  list-style: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  animation-name: circle;
  animation-duration: 25s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: -1%;
  height: 7.5rem;
  width: 7.5rem;
  animation-delay: 2s;
  animation-duration: 30s;
  background-color: #e9af90;
}
.bg-bubbles li:nth-child(2) {
  left: 10%;
  height: 5rem;
  width: 5rem;
  animation-delay: 9s;
  animation-duration: 16s;
  background-color: #b6c7c9;
}
.bg-bubbles li:nth-child(3) {
  left: 22%;
  height: 2.5rem;
  width: 2.5rem;
  animation-delay: 6s;
  animation-duration: 25s;
  background-color: #a4cedf;
}
.bg-bubbles li:nth-child(4) {
  left: 30%;
  height: 5.625rem;
  width: 5.625rem;
  animation-delay: 16s;
  animation-duration: 32s;
  background-color: #f6ddd0;
}
.bg-bubbles li:nth-child(5) {
  left: 38%;
  height: 4rem;
  width: 4rem;
  animation-delay: 11s;
  animation-duration: 27s;
  background-color: #ecf4f3;
}
.bg-bubbles li:nth-child(6) {
  left: 46%;
  height: 2.1875rem;
  width: 2.1875rem;
  animation-delay: 25s;
  animation-duration: 19s;
  background-color: #a4cedf;
}
.bg-bubbles li:nth-child(7) {
  left: 50%;
  height: 3.75rem;
  width: 3.75rem;
  animation-delay: 7s;
  animation-duration: 25s;
  background-color: #f6ddd0;
}
.bg-bubbles li:nth-child(8) {
  left: 58%;
  height: 1.25rem;
  width: 1.25rem;
  animation-delay: 14s;
  animation-duration: 50s;
  background-color: #f7e4e4;
}
.bg-bubbles li:nth-child(9) {
  left: 60%;
  height: 6.875rem;
  width: 6.875rem;
  animation-delay: 4s;
  animation-duration: 40s;
  background-color: #ecd39d;
}
.bg-bubbles li:nth-child(10) {
  left: 73%;
  height: 2.5rem;
  width: 2.5rem;
  animation-delay: 20s;
  animation-duration: 22s;
  background-color: #a4cedf;
}
.bg-bubbles li:nth-child(11) {
  left: 80%;
  height: 4.0625rem;
  width: 4.0625rem;
  animation-delay: 5s;
  animation-duration: 14s;
  background-color: #dbebe9;
}
.bg-bubbles li:nth-child(12) {
  left: 90%;
  height: 5rem;
  width: 5rem;
  animation-delay: 11s;
  animation-duration: 30s;
  background-color: #d3dede;
}

@-webkit-keyframes circle {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-160vh);
  }
}
@keyframes circle {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-160vh);
  }
}

/*# sourceMappingURL=style.css.map */
