// Make bubble background fill the whole container)
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: $white;

  // Each bubble has the styles below
  li {
    display: block;
    position: absolute;
    bottom: toRem(-160);
    background-color: lighten($color-3, 15%);
    list-style: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    animation-name: circle;
    animation-duration: 25s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;

    // Here below each bubble gets its own position, size, delay, duration and color.
    // I created a sass mixin for this (line 16 in _mixins.scss) and here is the formula:
    // @include bubbleVariables(position, size, delay, duration, background-color).

    // I am using Prettier and JSLint and either of those is breaking some of the code
    // into seperate lines and not others when I save the file and I did not
    // find a quick fix for this so sorry about that.
    &:nth-child(1) {
      @include bubbleVariables(
        -1%,
        toRem(120),
        2s,
        30s,
        lighten($color-1, 15%)
      );
    }
    &:nth-child(2) {
      @include bubbleVariables(10%, toRem(80), 9s, 16s, lighten($color-5, 20%));
    }
    &:nth-child(3) {
      @include bubbleVariables(22%, toRem(40), 6s, 25s, lighten($color-2, 30%));
    }
    &:nth-child(4) {
      @include bubbleVariables(
        30%,
        toRem(90),
        16s,
        32s,
        lighten($color-1, 30%)
      );
    }
    &:nth-child(5) {
      @include bubbleVariables(
        38%,
        toRem(64),
        11s,
        27s,
        lighten($color-3, 20%)
      );
    }
    &:nth-child(6) {
      @include bubbleVariables(
        46%,
        toRem(35),
        25s,
        19s,
        lighten($color-2, 30%)
      );
    }
    &:nth-child(7) {
      @include bubbleVariables(50%, toRem(60), 7s, 25s, lighten($color-1, 30%));
    }
    &:nth-child(8) {
      @include bubbleVariables(
        58%,
        toRem(20),
        14s,
        50s,
        lighten($color-6, 15%)
      );
    }
    &:nth-child(9) {
      @include bubbleVariables(
        60%,
        toRem(110),
        4s,
        40s,
        lighten($color-4, 20%)
      );
    }
    &:nth-child(10) {
      @include bubbleVariables(
        73%,
        toRem(40),
        20s,
        22s,
        lighten($color-2, 30%)
      );
    }
    &:nth-child(11) {
      @include bubbleVariables(80%, toRem(65), 5s, 14s, lighten($color-3, 15%));
    }
    &:nth-child(12) {
      @include bubbleVariables(
        90%,
        toRem(80),
        11s,
        30s,
        lighten($color-5, 30%)
      );
    }
  }
}

// The transformation of circles
// From starting point of bubble position witch is 160px below the bottom of page
// to above the top of the page which is set here to 160% of the viewport height.
@-webkit-keyframes circle {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-160vh);
  }
}
@keyframes circle {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-160vh);
  }
}
