// Make bubble background fill the whole container)
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background-color: $white;

  li {
    display: block;
    position: absolute;
    bottom: toRem(-160);
    background-color: lighten($color-3, 15%);
    list-style: none;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 25s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;

    &:nth-child(1) {
      @include bubbleVariables(2%, toRem(120), 2s, 30s, lighten($color-1, 15%));
    }
    &:nth-child(2) {
      @include bubbleVariables(10%, toRem(80), 9s, 20s, lighten($color-5, 20%));
    }
    &:nth-child(3) {
      @include bubbleVariables(22%, toRem(40), 4s, 25s, lighten($color-2, 30%));
    }
    &:nth-child(4) {
      @include bubbleVariables(
        30%,
        toRem(50),
        27s,
        32s,
        lighten($color-1, 30%)
      );
    }
    &:nth-child(5) {
      @include bubbleVariables(
        70%,
        toRem(40),
        25s,
        27s,
        lighten($color-3, 20%)
      );
    }
    &:nth-child(6) {
      @include bubbleVariables(80%, toRem(35), 3s, 20s, lighten($color-2, 30%));
    }
    &:nth-child(7) {
      @include bubbleVariables(
        35%,
        toRem(160),
        7s,
        25s,
        lighten($color-1, 30%)
      );
    }
    &:nth-child(8) {
      @include bubbleVariables(
        55%,
        toRem(20),
        14s,
        50s,
        lighten($color-6, 15%)
      );
    }
    &:nth-child(9) {
      @include bubbleVariables(15%, toRem(50), 4s, 40s, lighten($color-4, 20%));
    }
    &:nth-child(10) {
      @include bubbleVariables(
        90%,
        toRem(100),
        8s,
        16s,
        lighten($color-2, 30%)
      );
    }
    &:nth-child(11) {
      @include bubbleVariables(60%, toRem(65), 2s, 14s, lighten($color-3, 30%));
    }
    &:nth-child(12) {
      @include bubbleVariables(
        40%,
        toRem(30),
        11s,
        30s,
        lighten($color-5, 30%)
      );
    }
  }
}

@-webkit-keyframes circle {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150vh);
  }
}
@keyframes circle {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150vh);
  }
}
